section.module.parallax.narrow.parallax-analytics.ng-scope
  .container
    h1 Analytics

section.module.content.ng-scope
  .container
    .col-md-5.fadeInLeft.animated
      ul.list-group
        li.list-group-item
          h3.list-group-item-heading Get deep insights on
        li.list-group-item
          i.fa.fa-check-square-o
          | &nbsp;User Behavior across different devices
        li.list-group-item
          i.fa.fa-check-square-o
          | &nbsp;Multiple devices associated with the user
        li.list-group-item
          i.fa.fa-check-square-o
          | &nbsp;TV Ad analytics
        li.list-group-item
          i.fa.fa-check-square-o
          | &nbsp;Demographics about who were exposed to your ads on TV and Desktop
    .col-md-7.text-justify.fadeInRight.animated
      p
        | With SilverPush analytics, now it is possible to know how many users you were able to reach via your TV ad campaign, what their user behavior is, and whether they are interested in your ads.
      p
        | This gives you the unmatched insights to re-plan your media budget for ATL and BTL activities. SilverPush track the user&apos;s interaction on a TV, mobile and desktop and classify them based on different intends, which we then used to empower the brand to reach out to these valuable audience to drive high engagement.