section.module.parallax.narrow.parallax-career.ng-scope
  .container
    h1 Careers

section.module.content.ng-scope
  .container
    .col-xs-12
      .page-title.animated.fadeInRight
        | Reasons to&nbsp;
        span.fa.fa-heart.title-icon.danger.blinker
        | &nbsp;SilverPush
      .page-data.animated.bounceInRight
        .data_bar
          span.danger Food
          span Our team is full of foodies
        .data_bar
          span.success Technology
          span
            | We believe we can solve any problem using technology, and we encourage people to automate any manual task they can
        .data_bar
          span.primary Ideas
          span Everyone gets a chance to contribute ideas to our products
        .data_bar
          span.info Growth Opportunity
          span
            | We are one of the fastest growing companies, and we love people with enthusiasm and motivation to quickly grow with the company
        .data_bar
          span.warning Mobile
          span  is booming, and we&rsquo;re part of it with a mobile first strategy

section.module.content.ng-scope
  .container
    .col-xs-12
      .page-title.animated.fadeIn
        span.fa.fa-angle-left.title-icon.default.blinker
        | Current Openings /
        span.fa.fa-angle-right.title-icon.default.blinker
      .page-data.animated.fadeIn.txt-blue
        .row
          .col-md-3.col-sm-6.box-data
            a(href='http://www.hirist.com/j/silverpush-ios-engineer-1-3-yrs-35510.html', target='_blank')
              img.center-block(src='images/skills/s2.png', alt='')
              h3
                | iOS Guru
              p
                | Meditates and preaches objective-C constructs
          .col-md-3.col-sm-6.box-data
            a(href='http://www.hirist.com/j/silverpush-backend-engineer-nodejs-1-3-yrs-35514.html', target='_blank')
              img.center-block(src='images/skills/s3.png', alt='')
              h3
                | Nodejs Jedi
              p
                | Master of async calls
          .col-md-3.col-sm-6.box-data
            a(href='http://www.hirist.com/j/silverpush-frontend-engineer-nodejs-angularjs-1-3-yrs-35513.html', target='_blank')
              img.center-block(src='images/skills/s5.png', alt='')
              h3
                | Nodejs/Angular Ninja
              p
                | Efficient in old art of Frontend.
          .col-md-3.col-sm-6.box-data
            a(href='http://www.hirist.com/j/silverpush-data-scientist-1-3-yrs-35511.html', target='_blank')
              img.center-block(src='images/skills/s1.png', alt='')
              h3
                | &apos;Evil&apos; Data Guy
              p
                | Digs into ocean of bits and bytes
          .col-md-3.col-sm-6.box-data
            a(href='http://www.hirist.com/j/silverpush-devops-lead-aws-1-5-yrs-35512.html', target='_blank')
              img.center-block(src='images/skills/s4.png', alt='')
              h3
                | Ethan &apos;Dev Ops&apos; Hunt
              p
                | Expert of executing &apos;Shell&apos; missions.