section.module.parallax.narrow.parallax-company.ng-scope
  .container
    h1 Company

section.module.content.ng-scope
  .container
    .row
      .col-sm-6.col-md-7
        p.page-title.animated.fadeInLeft
          span.typcn.typcn-star.title-icon.warning.blinker
          | About Us
        .page-data.animated.fadeInRight
          p
            | SilverPush is a leading Cross-device Mapping platform that unify data points from the billions of digital devices around the globe and associate it with people.
          p
            | We combine our patent-pending audio beacon technology with statistical data, to create a map of multiple devices being linked to a single anonymous user. As a result, behavior of a user across their multiple devices is linked to a single SilverPush ID.
          p
            | We are the 
            i
              | only company that captures user touchpoints from TV-Desktop-Laptop-Tablets-Smartphone
            | and make them available to our valuable customers through our 
            i data platform.
          p
            | Biggest players like 
            i Google, P&amp;G,GE and Philips
            | uses our platform to get better understanding of their audience and reach them effectively.
      .col-sm-6.col-md-5.col-sm-offset-0.col-xs-offset-2.col-xs-10.animated.fadeIn
        img.img-responsive(src='images/aboutus.png')