section.module.parallax.narrow.parallax-contactus.ng-scope
  .container
    h1 Contact Us

section.container-fluid.bg-contact.ng-scope
  .col-md-4.animated.fadeInLeft
    ul.list-group
      li.list-group-item
        h3.list-group-item-heading We are available 24/7, so don't hesitate to contact our teams.
      li.list-group-item
        i.fa.fa-envelope-o
        | &nbsp;General - contact@silverpush.co
      li.list-group-item
        i.fa.fa-envelope-o
        | &nbsp;Sales - sales@silverpush.co
      li.list-group-item
        i.fa.fa-envelope-o
        | &nbsp;Operations - ops@silverpush.co
      li.list-group-item
        h3.list-group-item-heading US HQ
      li.list-group-item
        i.fa.fa-map-marker
        | Ste 1348, 560 Mission St,San Francisco, CA 94105
      li.list-group-item
        h3.list-group-item-heading India Office
      li.list-group-item
        i.fa.fa-map-marker
        | 3rd Floor, Times Square, B-Block,Sushant Lok- I,Gurgaon-122002
  .col-md-8.animated.fadeInRight
    .overlay(onclick="style.pointerEvents='none'")
    iframe(src='https://www.google.com/maps/d/u/0/embed?mid=zXu3qO08Ip4k.k9ZaW52An4jc', width='100%', height='450', style='border:10px solid white;')