section.module.parallax.narrow.parallax-investors.ng-scope
  .container
    h1 Investors

section.module.content.no-bottom-pad.ng-scope
  .container.panel-box
    legend.wow.fadeIn.animated Funds
    .row
      .col-md-3.col-xs-6.wow.fadeInLeft.animated
        .panel.panel-default
          .panel-body
            img.center-block.img-responsive.img-gs(src='images/investors/idg_ventures.jpg', alt='.')
            h3 IDG Ventures
      .col-md-3.col-xs-6.wow.fadeInRight.animated
        .panel.panel-default
          .panel-body
            img.center-block.img-responsive.img-gs(src='images/investors/500_startups.jpg', alt='.')
            h3 500 Startups
      .col-md-3.col-xs-6.wow.fadeInLeft.animated
        .panel.panel-default
          .panel-body
            img.center-block.img-responsive.img-gs(src='images/investors/unilazer_ventures.jpg', alt='.')
            h3 Unilazer Ventures
      .col-md-3.col-xs-6.wow.fadeInRight.animated
        .panel.panel-default
          .panel-body
            img.center-block.img-responsive.img-gs(src='images/investors/palash_ventures.jpg', alt='.')
            h3 Palaash Ventures
      .col-md-3.col-xs-6.wow.fadeInLeft.animated
        .panel.panel-default
          .panel-body
            img.center-block.img-responsive.img-gs(src='images/investors/TA_ventures.jpg', alt='.')
            h3 TA Ventures
      .col-md-3.col-xs-6.wow.fadeInRight.animated
        .panel.panel-default
          .panel-body
            img.center-block.img-responsive.img-gs(src='images/investors/gsf_acc.jpg', alt='.')
            h3 GSF Accelerator

section.module.content.no-bottom-pad.ng-scope
  .container.panel-box
    legend.wow.fadeIn.animated Angels
    .row
      .col-md-3.col-xs-6.wow.fadeInLeft.animated
        .panel.panel-default.angels
          .panel-body
            img.center-block.img-responsive.img-circle.img-gs(src='images/investors/fabrice_grinda.jpg', alt='.')
            h3 Fabrice Grinda
            p Founder &amp; Former CEO, OLX
      .col-md-3.col-xs-6.wow.fadeInRight.animated
        .panel.panel-default.angels
          .panel-body
            img.center-block.img-responsive.img-circle.img-gs(src='images/investors/prashant_mehta.jpg', alt='.')
            h3 Prashant Mehta
            p Former CEO, Komli Media
      .col-md-3.col-xs-6.wow.fadeInLeft.animated
        .panel.panel-default.angels
          .panel-body
            img.center-block.img-responsive.img-circle.img-gs(src='images/investors/siddharth_puri.jpg', alt='.')
            h3 Siddharth Puri
            p CEO, Tyroo Media
      .col-md-3.col-xs-6.wow.fadeInRight.animated
        .panel.panel-default.angels
          .panel-body
            img.center-block.img-responsive.img-circle.img-gs(src='images/investors/tuoc_luong.jpg', alt='.')
            h3 Tuoc Luong
            p Former SVP, Yahoo Search
      .col-md-3.col-xs-6.wow.fadeInLeft.animated
        .panel.panel-default.angels
          .panel-body
            img.center-block.img-responsive.img-circle.img-gs(src='images/investors/k_ganesh.jpg', alt='.')
            h3 K. Ganesh
            p Founder, GrowthStory
      .col-md-3.col-xs-6.wow.fadeInRight.animated
        .panel.panel-default.angels
          .panel-body
            img.center-block.img-responsive.img-circle.img-gs(src='images/investors/rajesh_sawhney.jpg', alt='.')
            h3 Rajesh Sawhney
            p Founder, GSF
      .col-md-3.col-xs-6.wow.fadeInLeft.animated
        .panel.panel-default.angels
          .panel-body
            img.center-block.img-responsive.img-circle.img-gs(src='images/investors/dinesh_agarwal.jpg', alt='.')
            h3 Dinesh Agarwal
            p Founder &amp; CEO, IndiaMart
      .col-md-3.col-xs-6.wow.fadeInRight.animated
        .panel.panel-default.angels
          .panel-body
            img.center-block.img-responsive.img-circle.img-gs(src='images/investors/nish_bhutani.jpg', alt='.')
            h3 Nish Bhutani
            p COO, Saffronart