section.module.parallax.narrow.parallax-measurement.ng-scope
  .container
    h1.spcl Measurement

section.module.content.ng-scope
  .container
    .col-md-5.fadeInLeft.animated
      ul.list-group
        li.list-group-item
          h3.list-group-item-heading Interactive dashboard that has built-in capability to
        li.list-group-item
          i.fa.fa-check-square-o
          | &nbsp;Track your mobile app performance and usage pattern
        li.list-group-item
          i.fa.fa-check-square-o
          | &nbsp;Discover the impressions that are actually viewed
        li.list-group-item
          i.fa.fa-check-square-o
          | &nbsp;Find out the missing pieces in the attribution puzzle
    .col-md-7.text-justify.fadeInRight.animated
      p
        | SilverPush measurement suites tracks over 50 million anonymous users beyond the click, including their internet devices and TV behavior, proving mobile-first consumer engagement and performance. We identify the multiple devices used by a single user and ensure every impression will give a unique customer experience. Understand how TV ad exposure impacts consumer spending by quantifying your consumer&rsquo;s online purchase activity.
      p
        | Get in touch with us to drive your way to become a SilverPush Data Powered Marketer