section.module.parallax.narrow.parallax-targeting.ng-scope
  .container
    h1 Targeting

section#tech-div.module.content.ng-scope
  .container
    .col-md-4.fadeInLeft.animated
      a
        img.center-block(src='images/targeting-icon-inpage1.png', alt='')
        h3 Programmatic DSP
      p
        | A Real Time Bidding enabled DSP connecting your brand with millions of unique users through multiple exchanges. Reach your exact target audience in the best price with dynamic bidding thus delivering an unmatched experience in various screens.
    .col-md-4.fadeInUp.animated
      a
        img.center-block(src='images/targeting-icon-inpage2.png', alt='')
        h3 Mobile Retargeting
      p
        | Retarget the audience interested in your offerings on their personal devices by implementing our pixel/ SDK in your mobile website/app. Clear the pathway to conversion by combining 1st party and 3rd party data using our fingerprinting technology.
    .col-md-4.fadeInRight.animated
      a
        img.center-block(src='images/targeting-icon-inpage3.png', alt='')
        h3 Cross Device Retargeting
      p
        | Brings the richness of user data collected from multiple digital devices like TV, Desktop and Laptop in campaigns. Enables marketers to create and optimize campaigns easily by reviewing insights on how the campaign is performing on other devices.