section.module.parallax.narrow.parallax-team.ng-scope
  .container
    h1 Team

section.module.content.no-bottom-pad.bg-team.ng-scope
  .container-fluid
    .row
      h1.text-white.faded Founders
      .col-sm-4
        .panel.panel-default.team-panel.animated.fadeInLeft
          #hitesh_chawla.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc
                  | &quot;..spearheads SilverPush, creates visionary ideas for smart products, at his best while wearing his engineering hat&quot;
              .bottom-box2
                p.title Hitesh Chawla
                p.pos Co-Founder &amp; CEO
                p.links
                  a.btn.btn-xs.btn-info(href='http://www.linkedin.com/in/hiteshchawla', target='_blank')
                    span.fa.fa-linkedin
      .col-sm-4
        .panel.panel-default.team-panel.animated.fadeInUp
          #mudit_seth.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc
                  | &quot;..handles the global strategic alliance &amp; marketing, avid traveller, loves playing football&quot;
              .bottom-box2
                p.title Mudit Seth
                p.pos Co-Founder &amp; CMO
                p.links
                  a.btn.btn-xs.btn-info(href='http://www.linkedin.com/in/muditbest', target='_blank')
                    span.fa.fa-linkedin
      .col-sm-4
        .panel.panel-default.team-panel.animated.fadeInRight
          #alex_modon.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc &quot;..heads the US operations and partnerships, pace-setter, serial entrepreneur&quot;
              .bottom-box2
                p.title Alex Modon
                p.pos Co-Founder &amp; COO
                p.links
                  a.btn.btn-xs.btn-info(href='http://www.linkedin.com/in/alexmodon', target='_blank')
                    span.fa.fa-linkedin

section.module.content.no-bottom-pad.bg-team.ng-scope
  .container-fluid
    .row
      h1.text-white.faded Team
      .col-lg-3.col-sm-6
        .panel.panel-default.team-panel.wow.fadeInUp.animated
          #jules_levi.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc &quot;..the man behind business strategy building in the US&quot;
              .bottom-box2
                p.title Jules Levi
                p.pos Head, Sales US
                p.links
                  a.btn.btn-xs.btn-info(href='http://www.linkedin.com/pub/jules-levy/13/867/528', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp.animated
          #ankit_paul.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc &quot;..prankster and a busy dad, develops plans covering national sales&quot;
              .bottom-box2
                p.title Ankit Paul
                p.pos Head, Sales India
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/pub/ankit-paul/16/b5a/1bb', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp.animated
          #piyush_bhatt.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc &quot;..the best sprinter, fast speaker,volunteering, handles our valuable clients&quot;
              .bottom-box2
                p.title Piyush Bhatt
                p.pos Client Servicing Manager
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/in/bhattpiyush', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #adarsh_sasi.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc
                  | &quot;..mild mannered, passion for music and internet, deals with product and brand stuff&quot;
              .bottom-box2
                p.title Adarsh Sasi
                p.pos Product Manager (Marketing)
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/pub/adarsh-sasi/15/432/321', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #vivek_bajpai.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc &quot;..a good cook, lifeline of silverpush, makes sure the servers never stays off&quot;
              .bottom-box2
                p.title Vivek Bajpai
                p.pos Tech Lead
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/in/vivekkrbajpai', target='_blank')
                    span.fa.fa-linkedin
      .col-lg-3.col-sm-6
        .panel.panel-default.team-panel.wow.fadeInUp.animated
          #matt_casey.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc &quot;..manages campaigns and client servicing in the US&quot;
              .bottom-box2
                p.title Matt Casey
                p.pos Campaign Delivery Head
                p.links
                  a.btn.btn-xs.btn-info(href='http://www.linkedin.com/pub/matt-casey/1a/10a/229', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp.animated
          #abhimanyu_yadav.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc &quot;..pragmatic, loves tennis and cricket, develops regional partner relationships&quot;
              .bottom-box2
                p.title Abhimanyu Yadav
                p.pos Sr. Manager Sales
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/in/abhimanyuyadav', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp.animated
          #tanvi_thakral.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc &quot;..aspiring singer, dj, reluctant early riser ,develops web based tools&quot;
              .bottom-box2
                p.title Tanvi Thakral
                p.pos Software Trainee
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/pub/tanvi-thakral/95/354/730', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #rimakshi.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc &quot;..policy maker, extremely people friendly, brings awesome people to the team&quot;
              .bottom-box2
                p.title Rimakshi
                p.pos Talent Acquisition Specialist
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/in/Rimakshi', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #aman_nagpal.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc
                  | &quot;..crazy fan of punjabi music, king of humor, makes super quick and intuitive dashboard&quot;
              .bottom-box2
                p.title Aman Nagpal
                p.pos Tech Lead
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/pub/aman-nagpal/17/136/883', target='_blank')
                    span.fa.fa-linkedin
      .col-lg-3.col-sm-6
        .panel.panel-default.team-panel.wow.fadeInUp
          #anil_kundu.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc &quot;..big data and machine learning guru, yoga instructor, heads data science team&quot;
              .bottom-box2
                p.title Anil Kundu
                p.pos VP, Data Science
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/in/kunduanil', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #rahul_joshi.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc &quot;..community builder, adventure seeker, easy going optimist&quot;
              .bottom-box2
                p.title Rahul Joshi
                p.pos Manager Sales
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/pub/rahul-joshi/13/512/99b/', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #shipra_mishra.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc &quot;..film lover, bookworm, health freak, manages our clients&quot;
              .bottom-box2
                p.title Shipra Mishra
                p.pos Asst. Manager Client Servicing
                p.links
                  a.btn.btn-xs.btn-info(href='https://www.linkedin.com/pub/shipra-mishra/68/861/228', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #anuj_prakash.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc &quot;..coffee drinker, determined dreamer, extracts meanings from our data points&quot;
              .bottom-box2
                p.title Anuj Prakash
                p.pos Data Scientist
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/in/anjprakash', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #vikram_tiwari.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc
                  | &quot;..science nerd, junk food lover, proves everytime that &apos;a poor code is a poor code&apos;&quot;
              .bottom-box2
                p.title Vikram Tiwari
                p.pos Software Engineer
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/in/vikramtiwari', target='_blank')
                    span.fa.fa-linkedin
      .col-lg-3.col-sm-6
        .panel.panel-default.team-panel.wow.fadeInUp
          #debasish_mitra.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc
                  | &quot;..quizzer, technology evangelist, photographer, creates competencies in product roadmap&quot;
              .bottom-box2
                p.title Debasish Mitra
                p.pos Product Manager (Technology)
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/pub/debasish-mitra/60/9b1/54b', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #rahul_gupta.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc &quot;..silent coder, stictly vegan, works on front end technology&quot;
              .bottom-box2
                p.title Rahul Gupta
                p.pos Software Engineer
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/pub/rahul-gupta/73/210/176', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #prena_reddy.panel-body.team_box_img
            .hover-div
              .bottom-box1
                p.desc
                  | &quot;..volleyball champ, pet admirer, loves history and stuff, monitors campaign delivery&quot;
              .bottom-box2
                p.title Prena Reddy
                p.pos Campaign Delivery Executive
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/pub/prerna-reddy/77/74b/b1/', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #pragyank_bana.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc
                  | &quot;..lives on pizza and research papers, comic lover, works on backend audio technology&quot;
              .bottom-box2
                p.title Pragyank Bana
                p.pos R&amp;D Engineer
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/in/pragyankbana', target='_blank')
                    span.fa.fa-linkedin
        .panel.panel-default.team-panel.wow.fadeInUp
          #nishant_srivastava.panel-body.team_box_img.long
            .hover-div
              .bottom-box1
                p.desc
                  | &quot;..a perfectionist, loves sleek design, born to eat chicken, works on android and beacon tech&quot;
              .bottom-box2
                p.title Nishant Srivastava
                p.pos Software Engineer
                p.links
                  a.btn.btn-xs.btn-info(href='http://in.linkedin.com/in/nisrulz', target='_blank')
                    span.fa.fa-linkedin