doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    link(rel='stylesheet', href='css/lib/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    title Silverpush - Unifying people, devices and data
  body
    block content
    block js