extends layouts/default

block content
  header.navbar.navbar-inverse
    .container
      .row
        .col-xs-3.visible-xs
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .col-xs-6.col-sm-3.header-image
          a(href='/')
            img(src='images/silverpush.png')
        .col-xs-12.col-sm-9
          #bs-example-navbar-collapse-1.navbar-collapse.collapse(aria-expanded='false')
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/') Home
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='true')
                  | About
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='company') Company
                  li
                    a(href='team') Team
                  li
                    a(href='investors') Investors
                  li
                    a(href='contactus') Contact Us
                  li.divider
                  li
                    a(href='http://blog.silverpush.com/', target='_blank') Blog
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
                  | Products
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='analytics') Analytics
                  li
                    a(href='targeting') Targeting
                  li
                    a(href='measurement') Measurement
              li
                a(href='careers') Careers
              li
                a(href='http://console.silverpush.co', target='_blank') Sign In

  #main-content(ng-view)

  footer.text-center.bkground-black
    ul.list-inline
      li
        a(href='contactus')
          span.fa.fa-phone
      li
        a(href='https://www.facebook.com/silverpush', target='_blank')
          span.fa.fa-facebook
      li
        a(href='https://twitter.com/silverpush', target='_blank')
          span.fa.fa-twitter
      li
        a(href='http://www.linkedin.com/company/2808449', target='_blank')
          span.fa.fa-linkedin
      li.text-xsmall.text-middle
        | &copy; SilverPush 2012-2015

block js
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/app.js')
  script(src='js/lib/jquery-2.0.3.min.js')
  script(src='js/lib/bootstrap/bootstrap.min.js')
  script(src='js/lib/wow.min.js')
  script(src='js/main.js')
  script.
    new WOW().init();
    userFlow.initScrollPage();
