header {
  .bkground-base;
  padding: 0;
  margin-bottom: 0 !important;
  .row {
    margin-top: 0;
  }
  .header-image {
    margin-top: @margin-small;
    img {
      height: 3em;
    }
    @media screen and (max-width: 767px){
      .text-center;
    }
  }
}